/*layout*/
.page {
  height: 100%; }

.wrap {
  height: 100%; }
  .wrap .mainform {
    min-height: 100%;
    *display: table;
    *height: 100%; }

.footer {
  position: relative;
  margin-top: -80px;
  padding-top: 15px;
  height: 80px;
  clear: both;
  display: table;
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  color: #666; }
  .footer p {
    text-align: center;
    line-height: 200%;
    margin: 0; }

.wrap.login {
  background: url(../img/45degreee_fabric.png); }

.logindiv {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 470px;
  margin-top: -300px; }
  .logindiv h1 {
    margin: 0 auto;
    height: 87px;
    line-height: 87px;
    background: url(../img/logo.png) 50% no-repeat;
    text-indent: -9999px;
    text-align: center; }
  .logindiv .loginbox {
    margin: 0 auto;
    padding: 40px 50px;
    width: 400px;
    background: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: #ccc 2px 2px 10px;
    -moz-box-shadow: #ccc 2px 2px 10px;
    box-shadow: #ccc 2px 2px 10px; }
    .logindiv .loginbox h2 {
      margin-top: 0px;
      margin-bottom: 20px;
      font-weight: bold; }

.header {
  min-width: 100%;
  top: 0;
  position: fixed;
  _position: absolute;
  z-index: 99;
  _top: expression(documentElement.scrollTop);
  -webkit-box-shadow: #acacac 0px 2px 5px;
  -moz-box-shadow: #acacac 0px 2px 5px;
  box-shadow: #acacac 0px 2px 5px; }
  .header .firm {
    padding: 5px 0;
    text-align: center;
    background: url(../img/45degreee_fabric.png); }
    .header .firm img {
      max-height: 70px; }
  .header .info {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
    background: #555; }
    .header .info .backstageTitle {
      float: left; }
      .header .info .backstageTitle h1 {
        margin: 0;
        padding: 0; }
      .header .info .backstageTitle span {
        font-size: 22px;
        letter-spacing: 1px;
        color: #fff;
        vertical-align: middle; }
    .header .info .backstageUser {
      float: right;
      height: 40px;
      overflow: hidden; }
      .header .info .backstageUser .usericon {
        font-size: 120%;
        vertical-align: middle;
        color: #fff; }
      .header .info .backstageUser .user {
        font-size: 13px;
        vertical-align: middle;
        color: #fff; }
    .header .info:after {
      content: "";
      height: 0;
      display: block;
      clear: both; }

.main {
  display: table;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px; }
  .main .nav {
    display: table-cell;
    margin-bottom: 50px;
    vertical-align: top;
    padding-left: 10px;
    width: 170px; }
  .main .mainBox {
    display: table-cell;
    vertical-align: top; }
    .main .mainBox .container {
      max-width: 100%; }
    .main .mainBox .heading {
      margin: 20px 0;
      padding: 5px 0;
      border-bottom: 1px solid #ddd; }
      .main .mainBox .heading h2 {
        margin: 0;
        vertical-align: middle; }
      .main .mainBox .heading .breadcrumb {
        vertical-align: middle; }
    .main .mainBox .articleBox {
      display: table;
      width: 100%; }
    .main .mainBox .TreeMenu {
      display: table-cell;
      vertical-align: top; }
    .main .mainBox .Content {
      display: table-cell;
      vertical-align: top; }

.ie7 .container {
  width: 100%; }
.ie7 .header .firm {
  background: #DDD; }
.ie7 .header .info .container {
  width: 100%; }
  .ie7 .header .info .container .row {
    width: 100%; }
    .ie7 .header .info .container .row .col-xs-6 {
      min-width: 49%;
      height: 40px; }
      .ie7 .header .info .container .row .col-xs-6 h1 {
        line-height: 45px;
        zoom: 1; }
.ie7 .main .nav {
  z-index: 9; }
.ie7 .main .mainBox {
  z-index: 1; }

.ie8 .container {
  width: 100%; }

/*module*/
.PicasaPhotoView:after {
  content: '';
  display: block;
  clear: both; }
.PicasaPhotoView #ablumList {
  float: left;
  width: 160px; }
.PicasaPhotoView #vlightbox {
  width: 100%;
  padding-left: 160px; }
.PicasaPhotoView .AlbumItem {
  margin-bottom: 20px;
  width: 92px; }
  .PicasaPhotoView .AlbumItem > a {
    display: block;
    margin: 0;
    padding: 7px 7px 11px 7px;
    background: url(../img/gallery_case.gif) no-repeat; }
    .PicasaPhotoView .AlbumItem > a > img {
      display: block;
      border: 1px solid #666; }
  .PicasaPhotoView .AlbumItem .AlbumThumbnail {
    width: 75px;
    height: 75px; }
  .PicasaPhotoView .AlbumItem .AlbumName {
    font-family: \u65b0\u7d30\u660e\u9ad4;
    font-weight: bold;
    font-size: 13px;
    color: #0063dc; }

.GoogleYoutubeView .newest {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 640px; }
  .GoogleYoutubeView .newest iframe {
    display: block;
    width: 100%;
    height: 386px; }
  .GoogleYoutubeView .newest .Videotitle {
    font-size: 24px; }
.GoogleYoutubeView .list .YoutubeItem {
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  vertical-align: top; }
  .GoogleYoutubeView .list .YoutubeItem .ItemMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8; }
    .GoogleYoutubeView .list .YoutubeItem .ItemMask:hover {
      opacity: 0.2;
      transform: all 0.3 ease-in-out; }

/*setting*/
/* Bootstrap Custom */
input[type="text"],
input[type="password"],
select {
  height: 34px;
  padding: 6px 12px;
  *height: 28px;
  *margin: 0;
  *padding: 0 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

textarea {
  padding: 6px 12px;
  *height: 28px;
  *margin: 0;
  *padding: 0 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 13px; }

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }

a:hover {
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }

.text-red {
  color: #f00; }

.validation-summary-errors {
  color: red;
  border: 1px solid red; }

.field-validation-error {
  color: red; }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ddd; }

.container {
  min-width: 100%; }

.clear {
  clear: both; }

.breadcrumb {
  margin: 0;
  text-align: right;
  background-color: #fff;
  font-size: 17px;
  color: #333; }
  .breadcrumb .active {
    color: #333; }

.table {
  font-family: "\u65b0\u7d30\u660e\u9ad4"; }
  .table caption {
    padding: 10px 0;
    background: #f5f5f5;
    border: 1px solid #dddddd;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    font-weight: bold; }
  .table thead tr th {
    font-size: 13px;
    background: #f5f5f5; }
  .table tbody tr th {
    width: 100px;
    font-size: 13px;
    text-align: right;
    background: #e3edf7; }

.panel .panel-body .table {
  margin-left: -15px;
  margin-right: -15px; }
.panel .panel-body .table:first-child {
  margin: -15px -15px 0 -15px !important; }
.panel .table thead > tr > th, .panel .table tbody > tr > th, .panel .table tfoot > tr > th, .panel .table thead > tr > td, .panel .table tbody > tr > td, .panel .table tfoot > tr > td {
  border-top: 0px; }
.panel .table tbody tr th {
  font-size: 13px;
  text-align: right;
  background: #f7f7f7; }
.panel .table caption {
  padding: 7px;
  background: #fff;
  border: 0px;
  text-align: left;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; }

.form-horizontal .form-group > label {
  font-size: 15px;
  text-align: right; }

.pagination {
  display: block;
  margin: 10px 0;
  font-size: 0; }
  .pagination .pagebtn {
    margin-left: -1px;
    padding: 6px 12px;
    font-size: 13px;
    border: 1px solid #ddd !important;
    background: #fff;
    color: #428bca !important; }
    .pagination .pagebtn:hover {
      background: #ddd; }
    .pagination .pagebtn[disabled="disabled"] {
      color: #bbb !important; }
      .pagination .pagebtn[disabled="disabled"]:hover {
        cursor: not-allowed;
        background: #fff; }
    .pagination .pagebtn:first-child {
      margin-left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .pagination .pagebtn:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

